html, body {
    height:100%;
    width:100%;
}

html {
    font-size:$font-size;
    font-family:$font-stack;
    color:$white;
}

h1 {
    font-size:1.2rem;
}

a {
    text-decoration:none;
}

section {
    padding:20px 40px;
    flex-grow:1;
    li {
        list-style-type: none;
    }
    h2 {
        letter-spacing: 1.5px;
        padding-bottom:5px;
        border-bottom: 5px solid rgba($white, 0.5);
    }
}

.canucks-standing {
    background-color:$primary-colour;
    li { 
    font-weight:900;
    }
}


.wrapper {
    min-height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
}

.container {
    grid-area:main;
    display:flex;
}

/* header */

.header {
    grid-area:header;
    background-color:$black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-subtitle {
    font-weight: 100;
    border-left: 2px solid #008852;
    padding-left: 10px;
    margin-left: 10px;
}

/* end header */

.footer {
    grid-area:footer;
    background-color:$black;
    padding:5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: $lighter-white;
    a {
        color:white;
        &:hover{
            color:$primary-colour;
        }
    }
}


#next-fixture {
    background-color:$primary-colour;
    h2 {
        color:$white;
        letter-spacing: 1.5px;
        }
    p {
        color:$white;
        margin:5px 0;
        &:last-child{
            font-weight:900;
        }
    }
    div {
        margin-bottom:25px;
    }
}

// Last fixtures

#last-fixtures {
    background-color:$white;
    color:$secondary-colour;
    p {
        margin: 5px 0;
    }
    p.result-score {
        width: 150px;
        background-color: $secondary-colour;
        color:$white;
        margin:0;
        margin-right:10px;
        padding:8px;
        text-align:center;
        text-transform: uppercase;
        font-size: 0.9em;
        height:18px;
        &::after {
            content: 'View Score';
            width: 150px;
            display: block;
            background-color: $primary-colour;
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 18px;
            padding:8px;
            visibility: visible;
            transition: all 0.5s ease-in-out;
        }
        &:hover:after {
            background-color:$secondary-colour;
            visibility:hidden;
        }
    }
    h2 {
        border-bottom: 5px solid $primary-colour;
    }
    a {
        background-color:$secondary-colour;
        color:$white;
        text-decoration: none;
        padding: 8px;
        text-transform: uppercase;
        font-size: 0.9em;
        width: 150px;
        text-align: center;

    }
    li p {
        &:nth-child(2){
            font-weight:900;
        }
    }
    ul {
        position:relative;
        padding-left:0px;
    }
}

#score-highlight-container-0, #score-highlight-container-1, #score-highlight-container-2, #score-highlight-container-3 {
    display:flex;
}


// pacific table section

#pacific-table {
    background-color:$secondary-colour;
    p, li {
        font-size:$font-size-smaller;
    }
    ul {
        display: flex;
        padding: 5px;
        border-bottom: 1px solid rgba($white, 0.5);
        margin:0;
        &:nth-child(3){
           border-bottom:4px solid $white;
        }
        li {
            padding: 5px;
            min-width: 30px;
            text-align:center;
            &:first-child {
                min-width:25px;
            }
            &:nth-child(2){ /* team name */
                min-width:150px;
                text-align:left;
            }
        }
    }
}

// Media queries

@media (max-width: 1081px) {
    .container {
        flex-direction:column;
    }
    section {
        padding: 20px 80px;
    }
}

// @media (max-width: 521px) {
//     section {
//         padding: 20px 20px;
//     }
// }

// @media (max-width:420px){
//     section {
//         padding:20px 20px;
//     }
//     #pacific-table ul li:first-child {
//         min-width: 15px;
//     }
//     #pacific-table ul li {
//         min-width: 18px;
//     }
//     #pacific-table ul li:nth-child(2) {
//         min-width: 140px;
//     }
//     #last-fixtures p.result-score::after {
//         width:120px;
//     }
//     #last-fixtures p.result-score {
//         width:120px;
//     }
//     #last-fixtures a {
//         width: 120px;
//         font-size:0.8rem;
//     }
// }

@media (max-width:521px){
    section {
        padding:20px 20px;
    }
    #pacific-table ul {
        li {
            min-width: 18px;
            &:first-child {
                min-width: 15px;
            }
            &:nth-child(2){
                width:140px;
            }
        }
    }
    
    #last-fixtures {
        p.result-score {
            width:110px;
            &::after{
                width:110px;
            }
        }
        a {
            width: 110px;
            font-size:0.8rem;
        }
    }
}