html, body {
    height:100%;
    width:100%;
}

html {
    font-size:$font-size;
    font-family:$font-stack;
    color:$white;
}

h1 {
    font-size:1.2rem;
}

a {
    text-decoration:none;
}

section {
    padding:20px 40px;
    flex-grow:1;
    li {
        list-style-type: none;
    }
    h2 {
        letter-spacing: 1.5px;
        padding-bottom:5px;
        border-bottom: 5px solid rgba($white, 0.5);
    }
}


.wrapper {
    min-height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
}

.container {
    grid-area:main;
    display:flex;
}

/* header */

.header {
    grid-area:header;
    background-color:$black;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        position: absolute;
        left: 40px;
        img {
            height: 34px;
            padding-top: 2px;
        }
    }
}

.header-subtitle {
    font-weight: 100;
    border-left: 2px solid #008852;
    padding-left: 10px;
    margin-left: 10px;
}

#current-team-name {
    @extend .header-subtitle;
}

#team-selector {
    background-color: #32292f;
    color: white;
    font-size: 0.9rem;
}

/* end header */

/* footer */
.footer {
    grid-area:footer;
    background-color:$black;
    padding:5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: $lighter-white;
    a {
        color:white;
        &:hover{
            color:var(--primary-team-colour);
        }
    }
}

.zu-container p {
    text-align:right;
}

/* end footer */

/* next fixure */

#next-fixture {
    background-color:var(--primary-team-colour);
    h2 {
        color:$white;
        letter-spacing: 1.5px;
        }
    p {
        color:$white;
        margin:5px 0;
        &:last-child{
            font-weight:900;
        }
    }
    div {
        margin-bottom:40px;
    }
}

// Last fixtures

#last-fixtures {
    background-color:var(--tertiary-team-colour);
    color:var(--secondary-team-colour);
    p {
        margin: 5px 0;
    }
    p.result-score {
        width: 150px;
        background-color: var(--secondary-team-colour);
        color:$white;
        margin:0;
        margin-right:10px;
        padding:8px;
        text-align:center;
        text-transform: uppercase;
        font-size: 0.9em;
        height:18px;
        &::after {
            content: 'View Score';
            width: 150px;
            display: block;
            background-color: var(--primary-team-colour);
            z-index: 10;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 18px;
            padding:8px;
            visibility: visible;
            transition: all 0.5s ease-in-out;
        }
        &:hover:after {
            background-color:var(--secondary-team-colour);
            visibility:hidden;
        }
    }
    h2 {
        border-bottom: 5px solid var(--primary-team-colour);
    }
    a {
        background-color:var(--secondary-team-colour);
        color:$white;
        text-decoration: none;
        padding: 8px;
        text-transform: uppercase;
        font-size: 0.9em;
        width: 150px;
        text-align: center;

    }
    li p {
        &:nth-child(2){
            font-weight:900;
        }
    }
    ul {
        position:relative;
        padding-left:0px;
    }
}

#score-highlight-container-0, #score-highlight-container-1, #score-highlight-container-2, #score-highlight-container-3 {
    display:flex;
}


// division table section

.division-table-container {
    display:inline-block;
}

.currentteam-standing {
    background-color:var(--primary-team-colour);
    li { 
    font-weight:900;
    }
}

#division-table {
    // background-color:var(--secondary-team-colour);
    background-color:var(--secondary-team-colour);
    p, li {
        font-size:$font-size-smaller;
    }
    ul {
        display: flex;
        padding: 5px;
        border-bottom: 1px solid rgba($white, 0.5);
        margin:0;
        &:nth-child(4){
           border-bottom:4px solid $white;
        }
        li {
            padding: 5px;
            min-width: 30px;
            text-align:center;
            &:first-child {
                min-width:25px;
            }
            &:nth-child(2){ /* team name */
                min-width:150px;
                text-align:left;
            }
        }
    }
}

// Media queries

@media (max-width: 1201px) {
    #next-fixture div {
        margin-bottom:20px;
    }
}


@media (max-width: 1081px) {
    .container {
        flex-direction:column;
    }
    section {
        padding: 20px 80px;
    }
    .header .logo {
        left: 80px;
    }
}

@media (max-width: 521px) {
    #last-fixtures {
        p.result-score {
            width:110px;
            &::after{
                width:110px;
            }
        }
        a {
            width: 110px;
            font-size:0.8rem;
        }
    }
    .header .logo {
        display:none;
    }
}

@media (max-width:421px){
    section {
        padding:20px 20px;
    }
    #division-table ul {
        li {
            min-width: 18px;
            &:first-child {
                min-width: 15px;
            }
            &:nth-child(2){
                width:140px;
            }
        }
    }
    
}