// fonts

$font-stack: Roboto, sans-serif;
$font-size: 16px;
$font-size-smaller: 14px;

// canucks colours

$primary-colour:#008852;
$secondary-colour:#002d55;
$tertiary-colour:white;;
$darker-white: #C6D4FF;
$lighter-white:#EAE8FF;
$white:white;
$grey: #5A5A66;
$darkest-grey:#3c3c3c;
$black:#32292F;

// CSS var declarations
:root {
    --primary-team-colour:$primary-colour;
    --secondary-team-colour:$secondary-colour;
    --secondary-team-colour:$tertiary-colour;
}

